<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", apps_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_app_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", app_path %></li>
    </ul>
  </div>
  <div class="content">
    <div class="inner">
      <p>
        <b><%= t("activerecord.attributes.remote_app.display_name", :default => t("activerecord.labels.display_name", :default => "Display Name")) %>:</b>
        <%= @remote_app.display_name %>
      </p>

      <p>
        <b><%= t("activerecord.attributes.remote_app.link", :default => t("activerecord.labels.link", :default => "Link")) %>:</b>
        <%= @remote_app.link %>
      </p>

      <p>
        <b><%= t("activerecord.attributes.remote_app.image_url", :default => t("activerecord.labels.image_url", :default => "Image URL")) %>:</b>
        <%= @remote_app.image_url %>
      </p>

      <p>
        <b><%= t("activerecord.attributes.remote_app.redirect_uri", :default => t("activerecord.labels.redirect_uri", :default => "Redirect URI")) %>:</b>
        <%= @remote_app.redirect_uri %>
      </p>

      <p>
        <b><%= t("activerecord.attributes.remote_app.secret", :default => t("activerecord.labels.secret", :default => "Secret")) %>:</b>
        <%= @remote_app.secret %>
      </p>

      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_app_path(@remote_app.id), :class => "button" %>
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), app_path(@remote_app.id), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
