<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", administrators_path  %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Users </h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first">
            <%= t("activerecord.attributes.user.email", :default => t("activerecord.labels.email", :default => "Email")) %>
          </th>
          <th>
            <%= t("activerecord.attributes.user.admin", :default => t("activerecord.labels.admin", :default => "Admin?")) %>
          </th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @users.each do |user| -%>
          <tr class="<%= cycle("odd", "even") %>">
            <td>
              <%= link_to user.email, administrator_path(user) %>
            </td>
            <td>
              <%= user.has_role?(:admin) ? "Yes" : "No" -%>
            </td>
            <td class="last">
              <% if user.has_role?(:admin) -%>
                <%= link_to_unless current_user.id == user.id,  "#{t("web-app-theme.revoke_admin", :default => "Revoke Admin")}", revoke_administrator_path(user), :method => :put %> |
              <% else -%>
                <%= link_to "#{t("web-app-theme.make_admin", :default => "Make Admin")}", make_administrator_path(user), :method => :put %> |
              <% end -%>

              <%= link_to "#{t("web-app-theme.show", :default => "Show")}", administrator_path(user) %> |
              <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", administrator_path(user), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">

        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
